<h1>Hello, <%= @care_giver.name %> </h1>
<% if @children.empty? %><h2>You have no children under your care</h2>
<% else %>
<h2>Here's the list of children under your care</h2>
<% end %>

<p><a class="button" href="/children/new">Add A Child</a></p>
<% @children.each do |child| %>
  <div class="children_list">
    <h3><b>Child's Name:</b> <%= child.name %></h3>
    <p>
      <b>Child's Birthdate:</b> <%= child.birthdate %><br>
      <b>Child's Gender:</b> <%= child.gender == "F" ? "Girl" : "Boy" %><br>
      <b>Child's Care-Giver:</b> <%= child.care_giver.name %><br>
    </p>
      <!-- if the table exits href /edit instead of create -->
      <!-- Set a if statement to check if log exists then href= /edit  -->
      <% if !child.logs.empty? %>
          <a class="button" href="/children/<%= child.id %>/logs/edit">Edit fhe information in the Daily Log</a>
        <% else %>
          <a class="button" href="/children/<%= child.id %>/logs/create">Enter information into the Daily Log</a>
      <% end %>
      <a class="button" href="/children/<%= child.id %>">See additional information</a>
  </div>
<% end %>
