<h1>Hello</h1>
<h2>Here's is <%= @child.name %>'s info</h2>

<li><b>Child's name:</b> <%= @child.name %></li>
<li><b>Child's birthdate:</b> <%= @child.birthdate %></li>
<li><b>Child's gender:</b> <%= @child.gender == "F" ? "Girl" : "Boy" %></li>
<li><b>Child's Care-Giver:</b> <%= @child.care_giver.name %></li>
<br>

<!-- Set a if statement to check if log exists then href= /edit  -->
<% if !@child.logs.empty? %>
    <p><a class="button" href="/children/<%= @child.id %>/logs/edit">Edit the Daily Log</a></p>
  <% else %>
    <p><a href="/children/<%= @child.id %>/logs/create">Enter information into the Daily Log</a></p>
<% end %>
<!-- Is there a way to meta print?  -->
<p>
  <% if !@child.logs.empty? %>
    <% log = @child.logs.find_by(child_id: @child.id) %>
    <% log.attributes.each do |k,v| %>
      <div class="log_attributes">
      <% if !v.nil? %>
        <li><b><%= k %>:</b> <%= v %></li>
      <% end %>
    <% end %>
    </div>
    <br>
    <div>
      <a class="delete" href="/children/<%= @child.id %>/logs/delete">Delete This Record?</a>
    </div>
    <% else %>
      <div class="log_attributes">
        There is not a log for this child
      </div>
    <% end %>
</p>
